@model IEnumerable<LeSheTuanGo.Models.GarbageServiceOffer>

@{
    ViewData["Title"] = "服務內容";
}

<p>
    <a asp-action="Index">返回</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                地址Id
            </th>*@
            <th>
                地址
            </th>
            <th>
                是否可以外送
            </th>
            <th>
                3公升上限
            </th>
            <th>
                5公升上限
            </th>
            <th>
                14公升上限
            </th>
            <th>
                25公升上限
            </th>
            <th>
                33公升上限
            </th>
            <th>
                75公升上限
            </th>
            <th>
                120公升上限
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.DistrictId)
                </td>*@
                <td>                    
                    @Html.DisplayFor(modelItem => item.Address)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CanGo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.L3maxCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.L5maxCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.L14maxCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.L25maxCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.L33maxCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.L75maxCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.L120maxCount)
                </td>

            </tr>
        }

    </tbody>
</table>
@*<p>
        <a asp-action="Index">加入清單</a>
    </p>*@
<div class="row">
    <div class="col-md-4">
        <form method="post">

            @foreach (var item in Model)
            {
                <input type="hidden" name="id2" value="@item.GarbageServiceId" />
                <input type="hidden" name="garbageserviceofferid" value="@item.GarbageServiceId" />

                <hr />
                <h5>加入活動:</h5>
                <div>
                    <label>L3:</label>
                    <input type="number" name="L3" min="0" max='@ViewData["L3count"]' value="0" />
                </div>
                <div>
                    <label>L5:</label>
                    <input type="number" name="L5" min="0" max='@ViewData["L5count"]' value="0" />
                </div>               
                <div>
                    <label>L14:</label>
                    <input type="number" name="L14" min="0" max='@ViewData["L14count"]' value="0" />
                </div>
                <div>
                    <label>L25:</label>
                    <input type="number" name="L25" min="0" max='@ViewData["L25count"]' value="0" />
                </div>
                <div>
                    <label>L33:</label>
                    <input type="number" name="L33" min="0" max='@ViewData["L33count"]' value="0" />
                </div>
                <div>
                    <label>L75:</label>
                    <input type="number" name="L75" min="0" max='@ViewData["L75count"]' value="0" />
                </div>
                <div>
                    <label>L120:</label>
                    <input type="number" name="L120" min="0" max='@ViewData["L120count"]' value="0" />
                </div>
                <div>
                    <label>是否外送</label>
                    <input type="checkbox" name="needcome" />
                </div>
                <div>
                    <label>地址:</label>
                    <input type="text" name="comeaddress"  placeholder="ex:台北市松山區三民路3號"  size="40"/>
                </div>
                <input type="hidden" name="comedistrictid" value="@item.DistrictId" />
                <div class="form-group">
                    <input type="submit" value="送出" class="btn btn-primary" />
                </div>
            }

        </form>
    </div>
</div>
