@using Microsoft.AspNetCore.Http;
@using LeSheTuanGo.Controllers;

@if (Context.Session.GetInt32(cUtility.Current_User_Id) != null){
    ViewData["userNameToDisplay"] = Context.Session.GetString(cUtility.Current_User_Name);
    ViewData["userProfileImageToShow"] = Context.Session.GetString(cUtility.Current_User_Profile_Image);
} else {
    ViewData["userNameToDisplay"] = "訪客";
    ViewData["userProfileImageToShow"] = "/images/guestProfile.jpg";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 樂社團Go</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">樂社團GO</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">垃圾地圖</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="OrderNavi">團購</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ServiceNavi">倒垃圾</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">關於</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="ChatMessageRecords" asp-action="Index">聊天測試用</a>*@
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">樂社團GO</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">垃圾地圖</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="OrderNavi">團購</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ServiceNavi">倒垃圾</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">關於</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ChatMessageRecords" asp-action="Index">聊天測試用</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-item dropdown float-right">
                    <button class="border-0 bg-transparent" type="button" id="alertDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="position-relative">
                            <img class="align-middle" src="~/images/bell.svg" />
                            <span class="indicator">3</span>
                        </div>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="alertsDropdown">
                        <div class="dropdown-menu-header">
                            3 則新通知
                        </div>
                        <div class="list-group">
                            <a class="dropdown-item" href="#">通知1</a>
                            <a class="dropdown-item" href="#">通知2</a>
                            <a class="dropdown-item" href="#">通知3</a>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="dropdown-menu-footer">
                            <a href="#" class="text-muted">查看所有通知</a>
                        </div>
                    </div>
                </div>
                <div class="dropdown float-right">
                    <button class="border-0 bg-transparent" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="rounded-circle profile" src="@ViewData["userProfileImageToShow"]" />
                        @ViewData["userNameToDisplay"]
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                        @if (Context.Session.GetInt32(cUtility.Current_User_Id) == null) {
                            <a class="dropdown-item" asp-controller="Member" asp-action="Login">登入</a>
                            <a class="dropdown-item" asp-controller="Member" asp-action="Create">創建</a>
                        } else {
                            <a class="dropdown-item" asp-controller="Member" asp-action="Detail">我的帳戶</a>
                            <a class="dropdown-item" href="#">設定</a>
                            <a class="dropdown-item" asp-action="Logout" asp-controller="Member">登出</a>

                            <a class="dropdown-item" href="#">購物團紀錄</a>
                            <a class="dropdown-item" href="#">服務委託紀錄</a>
                            <a class="dropdown-item" asp-action="Logout" asp-controller="Member">登出</a>

                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
