@model IEnumerable<LeSheTuanGo.Models.ChatMessageRecord>

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>*@
<style>
    #wrap {
        display: flex;
        height: 80vh
    }
</style>
@*<p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.GroupType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GroupId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SentTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Message)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SentMember)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SentTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SentMember.Address)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MessageId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MessageId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MessageId">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
<div id="wrap">

    <div id="link" style="border:5px solid red;background-color:green;flex: 1 1 0">
        <button>A</button>
    </div>
    <div style="position: relative; border: 5px solid red; background-color: aqua; flex: 1 1 0">
        <div id="chat" style="border:1px dashed;width:100%;height:95%;">

        </div>
        <span style="position: absolute;bottom:0 "><input type="text" /><button>enter</button></span>
    </div>
    <div id="detail" style="border:5px solid red;background-color:yellow;flex: 1 1 0">
        
    </div>
</div>


    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script>
    $(function () {
        var txt = "";
        @{
            foreach (var i in ViewBag.order)
                {
                @: txt += "<button onclick='chatGetOrder("+@i+")'>" + @i + "</button>"
                }
        }
        $("#link").html(txt);
    })

    function chatGetOrder(i) {
        //var orderID = document.getElementById(this).text;
        /*console.log(i);*/
        var urlorder = "/ChatMessageRecords/chatGetOrderDetail?orderId=" + i;
        $.ajax({
            url: urlorder,
            type: "GET",
            success: function (data) {
                var s = JSON.parse(data);
                var txt = "";
                for (let i = 0; i < s.length; i++) {
                    txt += "<label>團編號：" + s[i].OrderId + "</label><br />";
                    txt += "<label>地址：" + s[i].Address + "</label>"
                }
                $("#detail").html(txt);
            },
        })

        var urlchat = "/ChatMessageRecords/chatGetChat?orderId=" + i;
        $.ajax({
            url: urlchat,
            type: "GET",
            success: function (data) {
                //var s = JSON.parse(data);
                var txt = "";
                for (let i = 0; i < s.length; i++) {
                    txt += "<option value='" + s[i].DistrictId + "'>" + s[i].DistrictName + "</option>"
                }
                $("#DistrictId").html(txt);
            },
        })
    }
        </script>
    }
