@using System;
@{
    ViewData["Title"] = "搜尋倒垃圾服務";
    int[] sizeNumber = new int[7] { 3, 5, 14, 25, 33, 75, 120 };
}
<style>
    .rem-4{
        width:4rem;
        text-align:justify;
        text-align-last:justify;
        display:inline-block;
    }
</style>
<div class="row">
    @*search column*@
    <div class="col-4">
        <div class="row">
            <div class="border-bottom w-100">
                <h4>搜尋倒垃圾服務</h4>
                <a asp-action="HistoryList">歷史訂單</a>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>城市</label>
                    <select id="CityId" class="form-control" onchange="getDistrict('#DistrictId')" asp-items="ViewBag.City"></select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>鄉鎮市區</label>
                    <select name="DistrictId" id="DistrictId" class="form-control"></select>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>地址</label>
                    <input class="form-control" id="addressInput" type="text" value=@ViewData["Address"] />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="distance" class="control-label">距離</label>
                    <select class="form-control" asp-items="ViewBag.GoRange" id="distance"></select>
                </div>
            </div>
            <div class="col-12">
                <label class="w-100">垃圾袋尺寸</label>
                @for (int i = 0; i < sizeNumber.Length; i++) {
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" onchange="sizeInputSwitch1(@i)">
                        <label class="form-check-label">@sizeNumber[i]</label>
                    </div>
                }
            </div>
            <div class="col-6" id="sizeInputGroup1">
                @for (int i = 0; i < sizeNumber.Length; i++) {
                    <div class="form-group d-none">
                        <label>@sizeNumber[i]公升袋數</label>
                        <input class="form-control" type="number" value="0" min="0" />
                    </div>
                }
            </div>
            <div class="col-12">
                <button class="btn btn-primary" onclick="searchStart()">搜尋</button>
                <button class="btn btn-primary" onclick="test()">測試</button>
                <button class="btn btn-primary" onclick="fillDemo()">DEMO</button>
            </div>
        </div>
    </div>
    @*result column*@
    <div class="col-4">
        <div class="border-bottom">
            <h4>搜尋結果</h4>
        </div>
        <div class=" w-100" id="searchResult">
            @*@for (int i = 0; i < 10; i++) {
                <div class="p-2 w-100 search-item border-bottom" onclick="test()">
                    <h5>台北市大安區信義路四段2號</h5>
                    <div class="w-100"><div class="rem-4">截止時間</div><span class="px-1">:</span>2021年05月20號</div>
                    <div class="w-100"><div class="rem-4">距離</div><span class="px-1">:</span>532 公尺</div>
                </div>
                }*@
        </div>
    </div>
    @*detail column*@
    <div class="col-4">
        <div class="border-bottom">
            <h4>詳細資訊</h4>
        </div>
        <div id="detailView" class="invisible">
            <div id="map" style="height: 16rem;width: 100%;"></div>
            <div id="detailInfo">
                <div class="w-100"><div class="rem-4">地點</div><span class="px-1">:</span><span id="info">台北市大安區</span></div>
                <div class="w-100"><div class="rem-4">距離</div><span class="px-1">:</span><span id="info">532</span> 公尺</div>
                <div class="w-100"><div class="rem-4">截止時間</div><span class="px-1">:</span><span id="info">2021年05月20號</span></div>
            </div>
            <form method="post" action="/ServiceUse/Join">
                <div id="formInputHalf">
                    <input hidden name="GarbageServiceOfferId" value="" />
                    <input hidden name="ComeDistrictId" value="" />
                    <input hidden name="ComeAddress" value="" />
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="NeedCome" value="true"/>
                            是否需要到府服務?
                        </label>
                    </div>
                </div>
                <div class="w-50" id="sizeInputGroup2">
                    @for (int i = 0; i < sizeNumber.Length; i++) {
                        <div class="form-group d-none">
                            <label>@sizeNumber[i] 公升</label>
                            <input class="form-control" name="@("L"+sizeNumber[i]+"count")" type="number" min="0" value="" />
                        </div>
                    }
                </div>
                <div class="form-group">
                    <input type="submit" value="加入" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBircB99P_RvzxWdQT-hk40-h3Ofzlb_vQ&callback=showMap&libraries=&v=weekly"async></script>
    <script>
        let cityS = document.querySelector("#CityId");
        let distS = document.querySelector("#DistrictId");
        let addressIn = document.querySelector("#addressInput");
        let distanceS = document.querySelector("#distance");
        let result = document.querySelector("#searchResult");
        let detailView = document.querySelector("#detailView");
        let mapDiv = document.querySelector("#map");
        let sizeInputG1 = document.querySelectorAll("#sizeInputGroup1>div");
        let sizeCountG1 = document.querySelectorAll("#sizeInputGroup1>div>input");
        //for detail and submit
        let infoGroup = document.querySelectorAll("#detailInfo span#info");
        let formFirstHalf = document.querySelectorAll("#formInputHalf input");
        let sizeInputG2 = document.querySelectorAll("#sizeInputGroup2>div");
        let sizeCountG2 = document.querySelectorAll("#sizeInputGroup2>div>input");
        //other variable
        let lastAddress = "";
        let lastDistrict = 0;
        let queryList = [];
        let fList = [];
    
        window.onload = function () {
            cityS.value = @ViewData["CityId"];
            fillDistrict(@ViewData["CityId"], "#DistrictId", function () {
                distS.value = @ViewData["DistrictId"];
            });
        }
        function test() {
            //showMap(25.03, 121.54);
            console.log(formFirstHalf);
        }
        function fillDemo() {
            addressIn.value = "信義路四段2號";
            distS.value = 5;
        }
        function sizeInputSwitch1(id) {
            if (event.target.checked == true) {
                sizeInputG1[id].classList.remove("d-none");
                sizeCountG1[id].value = 1;
            } else {
                sizeInputG1[id].classList.add("d-none");
                sizeCountG1[id].value = 0;
            }
        }
        function searchStart() {
            detailView.classList.add("invisible");
        //send new request if address is changed
        if (distS.value == lastDistrict && addressIn.value == lastAddress) {
            filterResult();
        } else {
            lastDistrict = distS.value;
            lastAddress = addressIn;
            $.get(
                "/ServiceUse/Search",
                {
                    DistrictInput: distS.value,
                    addressInput: addressIn.value
                },
                function (data, status) {
                    if (status == "success") {
                        //console.log(data);
                        queryList = JSON.parse(data);
                        filterResult();
                    }
                }
            )
        }
    }
        function filterResult() {
            ////add cango filter test
            fList = [];
            for (let r of queryList) {
                if (r.Distance <= distanceS.options[distanceS.selectedIndex].text
                    && r.L3available >= sizeCountG1[0].value
                    && r.L5available >= sizeCountG1[1].value
                    && r.L14available >= sizeCountG1[2].value
                    && r.L25available >= sizeCountG1[3].value
                    && r.L33available >= sizeCountG1[4].value
                    && r.L75available >= sizeCountG1[5].value
                    && r.L120available >= sizeCountG1[6].value
                ) {
                    fList.push(r);
                }
            }
            showResult();
        }
        function showResult() {
            //console.log("filter = "+fList)
            //implement page count here
            let htmlString = "";
            if (fList.length == 0) {
                htmlString = `<h4>沒有符合條件的搜尋結果</h4>`;
            } else {
                //format datetime and distance
                for (let i = 0; i < fList.length; i++) {
                    //use the index in filterList as id, so we can just get offer info from filterList later.
                    htmlString += `<div class="p-2 w-100 search-item border-bottom" onclick="getDetail(${i})">`;
                    htmlString += `<h5>${fList[i].CityName}${fList[i].DistrictName}${fList[i].Address}</h5>`;
                    htmlString += `<div class="w-100"><div class="rem-4">截止時間</div><span class="px-1">:</span>${fList[i].EndTime}</div>`;
                    htmlString += `<div class="w-100"><div class="rem-4">距離</div><span class="px-1">:</span>${fList[i].Distance} 公尺</div>`;
                    htmlString += `<div class="w-100"><div class="rem-4">到府服務</div><span class="px-1">:</span>${fList[i].CanGo?"有":"不"}提供</div></div>`;
                }
            }
            result.innerHTML = htmlString;
        }
        function getDetail(id) {
        //fill view + update map + turn visible
            infoGroup[0].innerText = fList[id].Address;
            infoGroup[1].innerText = fList[id].Distance;
            infoGroup[2].innerText = fList[id].EndTime;
            formFirstHalf[0].value = fList[id].GarbageServiceId;
            formFirstHalf[1].value = fList[id].DistrictId;
            formFirstHalf[2].value = fList[id].Address;
            if (fList[id].CanGo) {
                //need to use the filter option
                formFirstHalf[3].checked = true;
                formFirstHalf[3].disabled = false;
            } else {
                formFirstHalf[3].checked = false;
                formFirstHalf[3].disabled = true;
            }
            let avail = [
                fList[id].L3available,
                fList[id].L5available,
                fList[id].L14available,
                fList[id].L25available,
                fList[id].L33available,
                fList[id].L75available,
                fList[id].L120available
            ];
            for (let i = 0; i < avail.length; i++) {
                if (avail[i] > 0) {
                    sizeInputG2[i].classList.remove("d-none");
                    sizeCountG2[i].max = avail[i];
                    sizeCountG2[i].value = sizeCountG1[i].value;
                } else {
                    sizeInputG2[i].classList.add("d-none");
                    sizeCountG2[i].value = 0;
                }
            }
            showMap(fList[id].Latitude, fList[id].Longitude);
            detailView.classList.remove("invisible");
        }
        function showMap(lat, lng) {
            let coor = new google.maps.LatLng(lat, lng);
            let mbr = new google.maps.LatLng(25.0339400, 121.5435000);  //fixed for now
            map = new google.maps.Map(mapDiv,
                {
                    center: coor,
                    zoom: 17,
                });
            new google.maps.Marker({
                position: mbr,
                map,
                title: "您的位置",
            });
            new google.maps.Marker({
                position: coor,
                map,
                title: "服務位置",
                icon: "https://crd-rubbish.epd.ntpc.gov.tw/maps/images/icon/Icon_LegendD.png",
            });
        }
    </script>
}