@using System;

@{
    ViewData["Title"] = "搜尋倒垃圾服務";
    int[] sizeNumber = new int[7] { 3, 5, 14, 25, 33, 75, 120 };
}

<h1>搜尋倒垃圾服務</h1>
<a asp-action="HistoryList">歷史訂單</a>
<div class="row">
    <div class="col-4">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>城市</label>
                    <select id="CityId" class="form-control" onchange="getDistrict('#DistrictId')" asp-items="ViewBag.City"></select>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>鄉鎮市區</label>
                    <select name="DistrictId" id="DistrictId" class="form-control"></select>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label>地址</label>
                    <input class="form-control" id="addressInput" type="text" value=@ViewData["Address"] />
                </div>
            </div>
            @{
                for (int i = 0; i < sizeNumber.Length; i++) {
                    <div class="col-6">
                        <div class="form-group">
                            <label>@sizeNumber[i]公升袋數</label>
                            <input class="form-control" id="@("l"+sizeNumber[i]+"Count")" type="number" value="0" min="0"/>
                        </div>
                    </div>
                }
            }
            <div class="col-6">
                <div class="form-group">
                    <label for="distance" class="control-label">距離</label>
                    <select class="form-control" asp-items="ViewBag.GoRange" id="distance"></select>
                </div>
            </div>
            <button class="btn btn-primary" onclick="SearchStart()">搜尋</button>
            <button class="btn btn-primary" onclick="test()">測試</button>
            <button class="btn btn-primary" onclick="fillDemo()">DEMO</button>
        </div>
    </div>
    <div class="col-4" id="searchResult">

    </div>
    <div class="col-4" id="detailView">
        <div>地點</div>
        <p>台北市大安區</p>
        <div>截止時間</div>
        <p>2021/5/2</p>
        <div>距離</div>
        <p>2955公尺</p>
        <form>
            <input hidden name="GarbageServiceOfferId" value="" />
            <input hidden name="ComeDistrictId" value="" />
            <input hidden name="ComeAddress" value="" />
            <div class="form-group">
                <label for="L3count">3公升</label>
                <input class="form-control" id="L3count" name="L3count" type="number" min="0" value="" />
            </div>
            <div class="form-group">
                <label for="L5count">5公升</label>
                <input class="form-control" id="L5count" name="L5count" type="number" min="0" value="" />
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="NeedCome" name="NeedCome" />
                    是否提供外送服務?
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="加入" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
<script>
    let cityS = document.querySelector("#CityId");
    let distS = document.querySelector("#DistrictId");
    let addressIn = document.querySelector("#addressInput");
    let l3Count = document.querySelector("#l3Count");
    let l5Count = document.querySelector("#l5Count");
    let l14Count = document.querySelector("#l14Count");
    let l25Count = document.querySelector("#l25Count");
    let l33Count = document.querySelector("#l33Count");
    let l75Count = document.querySelector("#l75Count");
    let l120Count = document.querySelector("#l120Count");
    let distanceS = document.querySelector("#distance");
    let result = document.querySelector("#searchResult");
    let detailView = document.querySelector("#detailView");
    let lastAddress = "";
    let lastDistrict = 0;
    let queryList = [];
    let filterList = [];
    window.onload = function () {
        cityS.value = @ViewData["CityId"];
        fillDistrict(@ViewData["CityId"], "#DistrictId", function () {
            distS.value = @ViewData["DistrictId"];
        });
    }

    function test() {
        console.log(queryList);
    }
    function fillDemo() {
        addressIn.value = "信義路四段2號";
        distS.value = 5;
    }
    function SearchStart() {
        //send new request if address is changed
        if (distS.value == lastDistrict && addressIn.value == lastAddress) {
            filterResult();
        } else {
            lastDistrict = distS.value;
            lastAddress = addressIn;
            $.get(
                "/ServiceUse/Search",
                {
                    DistrictInput: distS.value,
                    addressInput: addressIn.value
                },
                function (data, status) {
                    if (status == "success") {
                        //console.log(data);
                        queryList = JSON.parse(data);
                        filterResult();
                    }
                }
            )
        }
    }
    function filterResult() {
        ////add cango filter test
        filterList = [];
        for (let r of queryList) {
            if (r.Distance <= distanceS.options[distanceS.selectedIndex].text
                && r.L3available >= l3Count.value
                && r.L5available >= l5Count.value
                && r.L14available >= l14Count.value
                && r.L25available >= l25Count.value
                && r.L33available >= l33Count.value
                && r.L75available >= l75Count.value
                && r.L120available >= l120Count.value
            ) {
                filterList.push(r);
            }
        }
        showResult();
    }
    function showResult() {
        //console.log("filter = "+filterList)
        //implemente page count here
        //show no result if length == 0
        let htmlString = "";
        for (let i = 0; i < filterList.length; i++) {
            htmlString += `<h3>${filterList[i].Address}</h3>`;
            htmlString += `<button class="btn btn-primary" onclick="getDetail(${filterList[i].GarbageServiceId})">加入</button>`
        }
        result.innerHTML = htmlString;
    }
    function getDetail(idInput) {
        $.get(
            "/ServiceUse/getOfferDetail",
            {
                id:idInput
            },
            function (data, status) {
                if (status == "success") {
                    console.log(data);
                    let detail = JSON.parse(data);
                    
                }
            }
        )
    }
</script>
}