@model LeSheTuanGo.ViewModels.MemberViewModel
@{
    ViewData["Title"] = "帳號資訊 - ";
}
<div class="row align-items-center h-75">
    <div class="col-4 offset-4 rounded-panel pt-2">
        <h1 style="text-align: center">帳號資訊</h1>
        <hr />
        <div class="form-group">
            <label>姓名</label>
            <div>
                @(Model.FirstName +  " " + Model.LastName)
            </div>
        </div>
        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.DateOfBirth)</label>
            <div>
                @Html.DisplayFor(model => model.DateOfBirth.Year) 年 
                @Html.DisplayFor(model => model.DateOfBirth.Month) 月 
                @Html.DisplayFor(model => model.DateOfBirth.Day) 日 
            </div>
        </div>
        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.Email)</label>
            <div>
                @Html.DisplayFor(model => model.Email)
            </div>
        </div>
        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.Validate)</label>
            <div>
                @Html.DisplayFor(model => model.Validate)
            </div>
        </div>
        <div class="form-group">
            <label> @Html.DisplayNameFor(model => model.Address)</label>
            @Html.ActionLink("編輯", "EditAddress", new { memberId = Model.MemberId })
            <div>
                @Html.DisplayFor(model => model.Address)
            </div>
        </div>
        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.Balance)</label>
            @Html.ActionLink("儲值", "Charge", new { memberId = Model.MemberId })
            <div>
                @Html.DisplayFor(model => model.Balance)
            </div>
        </div>
        <div class="form-group">
            <label>@Html.DisplayNameFor(model => model.ProfileImagePath)</label>
            @Html.ActionLink("編輯", "EditImage", new { memberId = Model.MemberId })
            <div>
                <img src="@Model.ProfileImagePath" class="w-50" />
            </div>
        </div>
        @Html.ActionLink("編輯密碼", "EditPassword", new { memberId = Model.MemberId })
        @*<a asp-action="EditPassword" asp-route-id="@Model.MemberId">編輯密碼</a>*@
    </div>
</div>
