@model LeSheTuanGo.Models.Order
@{
    ViewData["Title"] = "新增團購 - ";
}
<form asp-action="Index">
    <div class="border-bottom-dark mb-2">
        <h2 onclick="demo()">新增購物團</h2>
    </div>
    <div class="row w-50">
        <div class="col-6">
            <div class="form-group">
                <label>商品類別</label>
                <select id="CategoryId" class="form-control" onchange="getProduct('#ProductId', showProdImage)" asp-items="ViewBag.Category"></select>
            </div>
            <div class="form-group">
                <label for="ProductId">商品名稱</label>
                <select asp-for="ProductId" class="form-control" onchange="showProdImage()"></select>
            </div>
            <div class="form-group">
                <label for="MaxCount">目標購買數量</label>
                <input type="number" name="MaxCount" id="MaxCount" min="0" class="form-control" />
                <span asp-validation-for="MaxCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="UnitPrice">每單位價格</label>
                <input type="number" name="UnitPrice" id="UnitPrice" min="0" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
        </div>
        <div class="col-6">
            <div class="d-flex flex-column">
                <div>
                    <label>商品示意圖</label>
                </div>
                <div class="flex-grow-1">
                    <image id="prodImage" class="product-image" src="@ViewData["ProductImage"]"></image>
                </div>
            </div>
        </div>
    </div>
    <div class="row w-50 pb-5">
        <div class="col-6">
            <div class="form-group">
                <label>縣市</label>
                <select id="CityId" class="form-control" onchange="getDistrict('#DistrictId')" asp-items="ViewBag.City"></select>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="DistrictId">鄉鎮市區</label>
                <select asp-for="DistrictId" class="form-control"></select>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="Address">街道地址</label>
                <input id="Address" name="Address" value=@ViewData["Address"] class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="EndTime">截止時間</label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CanGo" onchange="checkCanGo()"/>
                    是否提供外送服務?
                </label>
            </div>
            <div class="form-group">
                <label id="rangeIdLabel" style="color:#808080" for="GoRangeId">外送距離限制</label>
                <select asp-for="GoRangeId" class="form-control" asp-items="ViewBag.GoRange" disabled></select>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <label asp-for="OrderDescription">團購說明</label>
                <textarea id="OrderDescription" name="OrderDescription" rows="7" class="form-control" value=""></textarea>
                <span asp-validation-for="OrderDescription" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="column-btn bg-go-light py-1 row" style="width:28.7vw">
        <div class="px-1 col-6">
            <input type="submit" value="新增" class="btn btn-primary w-100" />
        </div>
        <div class="px-1 col-6">
            <a class="btn btn-primary w-100" href="/ChatMessageRecords/Index">查看紀錄</a>
        </div>
    </div>
</form>

@section Scripts {
    <script>
        let cityS = document.querySelector("#CityId");
        let distS = document.querySelector("#DistrictId");
        let cateS = document.querySelector("#CategoryId");
        let prodS = document.querySelector("#ProductId");
        let prodImage = document.querySelector("#prodImage");

        let rangeLabel = document.querySelector("#rangeIdLabel");
        let rangeS = document.querySelector("#GoRangeId");

        let addressIn = document.querySelector("#Address");
        let orderDes = document.querySelector("#OrderDescription");
        window.onload = function () {
            cateS.value = @ViewData["CategoryId"];
            fillProduct(@ViewData["CategoryId"], "#ProductId", function () {
                prodS.value = @ViewData["ProductId"];
            });
            cityS.value = @ViewData["CityId"];
            fillDistrict(@ViewData["CityId"], "#DistrictId", function () {
                distS.value = @ViewData["DistrictId"];
            });
        }
        function demo() {

            addressIn.value = "信義路三段109-7號";
        }
        function showProdImage() {
            prodImage.src = prodS.options[prodS.selectedIndex].getAttribute("imgPath");
        }
        function checkCanGo() {
            if (event.target.checked) {
                rangeS.disabled = false;
                rangeLabel.style.color = "#000000";
            } else {
                rangeS.disabled = true;
                rangeLabel.style.color = "#808080";
            }
        }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
