@model IEnumerable<prj0305.Models.OrderBuyRecord>

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css" />
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>



    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderBuyRecordId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MemberId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Count)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NeedCome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ComeDistrictId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ComeAddress)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderBuyRecordId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MemberId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NeedCome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ComeDistrictId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ComeAddress)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
