@model IEnumerable<LeSheTuanGo.Models.OrderBuyRecord>

<p>
    <a asp-action="Index">返回</a>
</p>
@foreach (var item in Model)
{
    <div>數量</div><div>@Html.DisplayFor(modelItem => item.Count)</div>
    <div>  外送需求</div><div>@Html.DisplayFor(modelItem => item.NeedCome)</div>
    <div>鄉鎮市區</div><div>@Html.DisplayFor(modelItem => item.ComeDistrict.DistrictName)</div>
    <div>地址</div><div>@Html.DisplayFor(modelItem => item.ComeAddress)</div>
                 <div>
                     @Html.ActionLink("修改數量", "Edit", new { id = item.OrderBuyRecordId }) |
                     @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                 </div>
}

