@{
    Layout = "_layoutWide";
    ViewData["Title"] = "搜尋團購 - ";
}
<div class="d-flex h-100">
    @*search column*@
    <div class="d-flex flex-column border-right-grey h-100" style="width:30%">
        <div class="header-block">
            <h4 class="m-0" onclick="fillDemo()">搜尋團購</h4>
        </div>
        <div class="flex-grow-1 w-100" style="position:relative">
            <div class="p-3 h-100 column-main" style="align-content:flex-start">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label>商品類型</label>
                            <select id="CategotyId" class="form-control" onchange="getProduct('#ProductId', showProdImage)" asp-items="ViewBag.Category"></select>
                        </div>
                        <div class="form-group">
                            <label>商品名稱</label>
                            <select id="ProductId" class="form-control" onchange="showProdImage()"></select>
                        </div>
                        <div class="form-group">
                            <label>購買個數</label>
                            <input class="form-control" id="count" type="number" value="0" min="0" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex flex-column">
                            <div>
                                <label>商品示意圖</label>
                            </div>
                            <div class="flex-grow-1">
                                <image id="prodImage" class="product-image" src="@ViewData["ProductImage"]"></image>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="distance" class="control-label">搜尋距離</label>
                            <select class="form-control" asp-items="ViewBag.GoRange" id="distance"></select>
                        </div>
                    </div>
                    <div class="col-6" style="padding-top:2.5rem">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" id="needCome" onchange="checkNeedCome()" />
                                是否需要外送服務?
                            </label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label>縣市</label>
                                    <select id="CityId" class="form-control" onchange="getDistrict('#DistrictId')" asp-items="ViewBag.City"></select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label>鄉鎮市區</label>
                                    <select name="DistrictId" id="DistrictId" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label>地址</label>
                                    <input class="form-control" id="addressInput" type="text" value=@ViewData["Address"] />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" style="height:5rem"></div>
                </div>
            </div>
            <div class="py-2 sink w-100">
                <div class="d-flex">
                    <div class="w-50 pl-2 pr-1">
                        <button class="btn btn-primary w-100" onclick="searchStart()">搜尋</button>
                    </div>
                    <div class="w-50 pl-1 pr-2">
                        <a class="btn btn-primary w-100" href="/ChatMessageRecords/Index">查看紀錄</a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    @*result column*@
    <div class="h-100 border-right-grey" style="width:20%">
        <div class="d-flex flex-column h-100">
            <div class="header-block">
                <h4 class="m-0" onclick="test()">搜尋結果</h4>
            </div>
            <div class="column-main flex-grow-1" id="searchResult" style="background-color:#e0e0e0">
                @*@for (int i = 0; i < 5; i++) {
                <div class="accordion-go" onclick="accorClick(this)">
                    <p>台北市大安區信義路四段2號</p>
                    <div class="w-100"><div class="rem-4">截止時間</div><span class="px-1">:</span>2021年05月20號</div>
                    <div class="w-100"><div class="rem-4">距離</div><span class="px-1">:</span>532 公尺</div>
                </div>
                <div class="accordion-panel">
                    <form method="post" action="/Buy/Join">
                        <input hidden name="OrderId" value="" />
                        <input hidden name="ComeDistrictId" value="" />
                        <input hidden name="ComeAddress" value="" />
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="NeedCome" value="true"/>
                                是否需要宅配服務?
                            </label>
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="Count" type="number" placeholder="購買量" min="0" value="" max=""/>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="購買" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            }*@
            </div>
        </div> 
    </div>
    @*map column*@
    <div class="p-2 w-50">
        <div id="map" class="rounded-panel" style="height: 100%;width: 100%;"></div>
    </div>
</div>
@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBircB99P_RvzxWdQT-hk40-h3Ofzlb_vQ&callback=initMap&libraries=&v=weekly" async></script>
    <script>
        let cityS = document.querySelector("#CityId");
        let distS = document.querySelector("#DistrictId");
        let cateS = document.querySelector("#CategotyId");
        let prodS = document.querySelector("#ProductId");
        let prodImage = document.querySelector("#prodImage");
        let addressIn = document.querySelector("#addressInput");
        let distanceS = document.querySelector("#distance");
        let count = document.querySelector("#count");
        let needCome = document.querySelector("#needCome");
        //for search result
        let result = document.querySelector("#searchResult");
        //for detail and submit
        let mapDiv = document.querySelector("#map");
        //other variable
        let lastAddress = "";
        let lastDistrict = 0;
        let queryList = [];
        let fList = [];
        let markers = [];
        let map;
        let AccornList = [];
        let lastAccord = null;

        window.onload = function () {
            cityS.value = @ViewData["CityId"];
            fillDistrict(@ViewData["CityId"], "#DistrictId", function () {
                distS.value = @ViewData["DistrictId"];
            });
            cateS.value = @ViewData["CategoryId"];
            fillProduct(@ViewData["CategoryId"], "#ProductId", function () {
                distS.value = @ViewData["ProductId"];
            });
        }
        function fillDemo() {
            addressIn.value = "復興南路資策會";
            distS.value = 5;
        }
        function test() {

        }
        function showProdImage() {
            prodImage.src = prodS.options[prodS.selectedIndex].getAttribute("imgPath");
        }
        function accorClick(accor) {
            //doing 1 extra if, not pretty!
            if (!accor.classList.contains("accordion-active")) {
                map.setCenter(markers[accor.getAttribute("index")].getPosition());
                map.setZoom(18);
            }
            accorExpand(accor);
        }
        function accorExpand(accor) {
            let panel = accor.nextElementSibling;
            //console.log(accor.getAttribute("index"));
            if (accor.classList.contains("accordion-active")) {
                accor.classList.remove("accordion-active");
                panel.style.maxHeight = null;
                if (lastAccord == accor) {
                    //repeat on active
                    lastAccord = null;
                }
            } else {
                accor.classList.add("accordion-active");
                panel.style.maxHeight = panel.scrollHeight + "px";
                if (lastAccord != null) {
                    lastAccord.classList.remove("accordion-active");
                    lastAccord.nextElementSibling.style.maxHeight = null;
                }
                lastAccord = accor;
            }
        }
        function searchStart() {
            lastAccord = null
            //send new request if address is changed
            if (distS.value == lastDistrict && addressIn.value == lastAddress) {
                filterResult();
            } else {
                lastDistrict = distS.value;
                lastAddress = addressIn;
                $.get(
                    "/Buy/Search",
                    {
                        DistrictInput: distS.value,
                        addressInput: addressIn.value
                    },
                    function (data, status) {
                        if (status == "success") {
                            //console.log(data);
                            queryList = JSON.parse(data);
                            filterResult();
                        }
                    }
                )
            }
        }
        function filterResult() {
            ////add cango filter test
            fList = [];
            for (let r of queryList) {
                if (needCome.checked) {
                    //if needCome is checked, 
                    if (r.CanGo && r.Distance <= r.RangeInMeters
                        && r.Distance <= distanceS.options[distanceS.selectedIndex].text
                        && r.ProductId == prodS.value
                        && r.AvailableCount >= count.value
                    ) {
                        fList.push(r);
                        console.log(r.RangeInMeters);
                    }
                } else {
                    if (r.Distance <= distanceS.options[distanceS.selectedIndex].text
                        && r.ProductId == prodS.value
                        && r.AvailableCount >= count.value
                    ) {
                        fList.push(r);
                    }
                }
            }
            showResult();
        }
        function showResult() {
            //implement page count here
            if (fList.length == 0) {
                result.innerHTML = `<h4>沒有符合條件的搜尋結果</h4>`;
            } else {
                let htmlString = "";
                for (let i = 0; i < fList.length; i++) {
                    //use the index in filterList as id, so we can just get offer info from filterList later.
                    htmlString += `<div class="accordion-go" index = "${i}" onclick="accorClick(this)">`;
                    htmlString += `${fList[i].CityName}${fList[i].DistrictName}${fList[i].Address}`;
                    htmlString += `</div>`;
                    //htmlString += `<div class="w-100"><div class="rem-4">宅配服務</div><span class="px-1">:</span>${fList[i].CanGo?"有":"不"}提供</div></div>`;
                    htmlString += `<div class="accordion-panel"><form method="post" action="/Buy/Join">`;
                    htmlString += `<div class="py-2"><div class="w-100"><div class="rem-4">截止時間</div><span class="px-1">:</span>${formatDatetime(fList[i].EndTime)}</div>`;
                    htmlString += `<div class="w-100"><div class="rem-4">距離</div><span class="px-1">:</span><span class="text-primary">${parseInt(fList[i].Distance, 10)}</span> 公尺</div></div>`;
                    htmlString += `<input hidden name="OrderId" value="${fList[i].OrderId}" />`;
                    htmlString += `<input hidden name="ComeDistrictId" value="${distS.value}" />`;
                    htmlString += `<input hidden name="ComeAddress" value="${addressIn.value}" />`;
                    htmlString += `<div class="form-group"><label>購買量</label><input class="form-control" name="Count" type="number" min="0" value="${count.value}" max="${fList[i].AvailableCount}"/></div>`;
                    if (fList[i].CanGo) {
                        htmlString += `<div class="form-group form-check"><label class="form-check-label">`;
                        htmlString += `<input class="form-check-input" type="checkbox" name="NeedCome" value="true" />`;//fill checked
                        htmlString += `是否需要宅配服務?</label></div>`;
                    } else {
                        htmlString += `<input hidden type="checkbox" name="NeedCome" value="true"/>`;
                        htmlString += `<p>本服務不提供宅配服務</p>`;
                    }
                    htmlString += `<div class="form-group"><input type="submit" value="購買" class="btn btn-primary w-100" /></div></form></div>`;
                }
                showAllMap();
                result.innerHTML = htmlString;
                AccornList = result.querySelectorAll("div.accordion-go");
            }
        }
        //function getDetail(id) {
        ////fill view + update map + turn visible
        //    infoGroup[0].innerText = fList[id].Address;
        //    infoGroup[1].innerText = parseInt(fList[id].Distance, 10);
        //    infoGroup[2].innerText = formatDatetime(fList[id].EndTime);
        //    formInputs[0].value = fList[id].OrderId;
        //    formInputs[1].value = fList[id].DistrictId;
        //    formInputs[2].value = fList[id].Address;
        //    if (fList[id].CanGo) {
        //        //need to use the filter option
        //        formInputs[3].checked = false;
        //        formInputs[3].disabled = false;
        //    } else {
        //        formInputs[3].checked = false;
        //        formInputs[3].disabled = true;
        //    }
        //    formInputs[4].value = count.value;
        //    //showMap(fList[id].Latitude, fList[id].Longitude);
        //    detailView.classList.remove("invisible");
        //}
        function showMap(lat, lng) {
            let coor = new google.maps.LatLng(lat, lng);
            let mbr = new google.maps.LatLng(25.0339400, 121.5435000);  //fixed for now
            map = new google.maps.Map(mapDiv,
                {
                    center: coor,
                    zoom: 17,
                });
            new google.maps.Marker({
                position: mbr,
                map,
                title: "您的位置",
            });
            new google.maps.Marker({
                position: coor,
                map,
                title: "服務位置",
                icon: "https://crd-rubbish.epd.ntpc.gov.tw/maps/images/icon/Icon_LegendD.png",
            });
        }
        function showAllMap() {
            let mapCenter = new google.maps.LatLng(fList[0].userLat, fList[0].userLong);
            map = new google.maps.Map(mapDiv,
                {
                    center: mapCenter,
                    zoom: 14,
                    //mapTypeId: "terrain",
                });
            new google.maps.Marker({
                position: mapCenter,
                map,
                title: "您的位置",
                icon: "https://crd-rubbish.epd.ntpc.gov.tw/maps/images/icon/Icon_LegendD.png",
            });
            markers = [];
            for (let i = 0; i < fList.length; i++) {
                let marker = new google.maps.Marker({
                    position: { lat: fList[i].Latitude, lng: fList[i].Longitude },
                    map,
                    title: fList[i].Address,
                    label: { text: i + "", color: "transparent" },
                });
                marker.addListener("click", () => {
                    //console.log(markers[i].title);
                    //document.getElementById(markers[i].label.text).scrollIntoView();
                    //getDetail(marker.label.text);
                    AccornList[marker.label.text].scrollIntoView({ behavior: "smooth" });
                    accorExpand(AccornList[marker.label.text]);
                });
                markers.push(marker);
            }
        }
        function initMap() {
            let mbr = new google.maps.LatLng(25.0339400, 121.5435000);  //fixed for now
            map = new google.maps.Map(mapDiv,
                {
                    center: mbr,
                    zoom: 17,
                });
        }
        
        //const eqfeed_callback = function (results) {
        //    //Loop through the results array and place a marker for each
        //    //set of coordinates.
        //    for (let i = 0; i < results.features.length; i++) {
        //        const coords = results.features[i].geometry.coordinates;
        //        const latLng = new google.maps.LatLng(coords[1], coords[0]);
        //        new google.maps.Marker({
        //            position: latLng,
        //            map: map,
        //        });
        //    }
        //};
    </script>
}







