@model IEnumerable<prj0305.ViewModels.JoinGroupViewModel>

@foreach (var item in Model)
{
    <div>@Html.DisplayNameFor(model => model.Address)@Html.DisplayFor(modelItem => item.JOrder.Address)</div>
     <div>@Html.DisplayNameFor(model => model.EndTime)@Html.DisplayFor(modelItem => item.JOrder.EndTime)</div>
     <div>@Html.DisplayNameFor(model => model.OrderDescription)@Html.DisplayFor(modelItem => item.JOrder.OrderDescription)</div>
<div> @Html.DisplayNameFor(model => model.UnitPrice)@Html.DisplayFor(modelItem => item.JOrder.UnitPrice)</div>
     <div>@Html.DisplayNameFor(model => model.CanGo)@Html.DisplayFor(modelItem => item.JOrder.CanGo)</div>
 <div>@Html.DisplayNameFor(model => model.GoRangeId)@Html.DisplayFor(modelItem => item.JOrder.GoRange.RangeInMeters)</div>
}
    @*<table class="table">
        <thead>
            <tr>

                <th width="200">
                    @Html.DisplayNameFor(model => model.Address)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.EndTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDescription)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.UnitPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CanGo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GoRangeId)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {

                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.JOrder.Address)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.JOrder.EndTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JOrder.OrderDescription)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.JOrder.UnitPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JOrder.CanGo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JOrder.GoRange.RangeInMeters)
                    </td>
                </tr>
            }

        </tbody>
    </table>*@

<form name='form' id='form' method="post">

    <input type="hidden" name="id" id="id" value="@Model.First().JOrder.OrderId" />

    數量：<input type="number" name='count' id='count' max="@ViewBag.total" min="1" value="1" onchange="stopInputNum()" />
    <br />
    是否需要外送:<input type="checkbox" name="NeedCome" id="NeedCome" />
    <input type="hidden" name="ComeDistrictID" id="ComeDistrictID" value="@Model.First().JOrder.DistrictId" />
    <input type="hidden" name="ComeAddress" id="ComeAddress" value="@Model.First().JOrder.Address" />
    <input type='submit' value='送出' />
</form>



    <script>
        function stopInputNum() {
            var id = parseInt($('#count').val());
            var max = parseInt($('#count').attr('max'));

            if (max < id) {
                alert("購買數不得超出最大上限")
                $('#count').val('1')
            } else if (id <= 0) {
                alert("購買數量不能小於零")
                $('#count').val('1')
            }

        }
    </script>
