@model IEnumerable<LeSheTuanGo.Models.GarbageSpotAlert>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MinutesBeforeAlert)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GarbageTruckSpotId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MinutesBeforeAlert)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GarbageTruckSpotId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AlertId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AlertId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AlertId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
