@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Simple Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style type="text/css">
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html,
        main, div, /* father/child tags all need css settings to height 100%! */
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
    @*<script>
      let map;

      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: @ViewBag.resultLat, lng: @ViewBag.resultLng },
          zoom: 18,
        });
        new google.maps.Marker({
              position: { lat: @ViewBag.resultLat, lng: @ViewBag.resultLng },
              map,
              animation: google.maps.Animation.DROP,
              title: "hi",
              icon: "https://crd-rubbish.epd.ntpc.gov.tw/maps/images/icon/Icon_LegendC.png",
        });
      }
    </script>*@
<script>
      let map;

      function initMap(lat,lng) {
          var coor = new google.maps.LatLng(lat, lng)

          map = new google.maps.Map(document.getElementById("map"), {
          center: coor,
          zoom: 18,
        });
        //  var coor=new google.maps.LatLng(lat,lng)
        new google.maps.Marker({
              position: coor,
              map,
              animation: google.maps.Animation.DROP,
              title: "hi",
              icon: "https://crd-rubbish.epd.ntpc.gov.tw/maps/images/icon/Icon_LegendC.png",
        });
      }
</script>
</head>
<body>
    <div id="map" style="height: 50%;width: 50%;"></div>
    <button onclick="initMap(@ViewBag.resultLat, @ViewBag.resultLng)">1</button>
    <button onclick="initMap(@ViewBag.result[1].Latitude, @ViewBag.result[1].Longitude)">2</button>
    <button onclick="initMap(@ViewBag.result[2].Latitude, @ViewBag.result[2].Longitude)">3</button>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBircB99P_RvzxWdQT-hk40-h3Ofzlb_vQ&callback=initMap&libraries=&v=weekly"
            async></script>
</body>
</html>