@using Microsoft.AspNetCore.Http;
@using LeSheTuanGo.Controllers;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_layoutWide";

    if (Context.Session.GetInt32(cUtility.Current_User_Id) != null)
    {
        ViewData["currentUserId"] = Context.Session.GetInt32(cUtility.Current_User_Id);
    }
    else
    {
        ViewData["currentUserId"] = 0;
    }
}


@*head*@
@*<title>Simple Map</title>*@
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<style type="text/css">
    /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
    #map {
        height: 100%;
    }

    /* Optional: Makes the sample page fill the window. */
    html,
    main, /*div,*/ /* father/child tags all need css settings to height 100%! */
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #myBtn {
        display: none; /* Hidden by default */
        position: fixed; /* Fixed/sticky position */
        bottom: 20px; /* Place the button at the bottom of the page */
        right: 30px; /* Place the button 30px from the right */
        z-index: 99; /* Make sure it does not overlap */
        border: none; /* Remove borders */
        outline: none; /* Remove outline */
        background-color: red; /* Set a background color */
        color: white; /* Text color */
        cursor: pointer; /* Add a mouse pointer on hover */
        padding: 15px; /* Some padding */
        border-radius: 10px; /* Rounded corners */
        font-size: 18px; /* Increase font size */
    }

        #myBtn:hover {
            background-color: #555; /* Add a dark-grey background on hover */
        }
</style>
@*<script>
      let map;

      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: @ViewBag.resultLat, lng: @ViewBag.resultLng },
          zoom: 18,
        });
        new google.maps.Marker({
              position: { lat: @ViewBag.resultLat, lng: @ViewBag.resultLng },
              map,
              animation: google.maps.Animation.DROP,
              title: "hi",
              icon: "https://crd-rubbish.epd.ntpc.gov.tw/maps/images/icon/Icon_LegendC.png",
        });
      }
    </script>*@
<script>
    let map;

    function initMap(lat, lng, add, spotId) {

        if (lng !== "l") {
            var coor = new google.maps.LatLng(lat, lng);
            var mbr = new google.maps.LatLng(latNow, lngNow);  //fixed for now

            map = new google.maps.Map(document.getElementById("map"), {
                center: coor,
                zoom: 19,
            });

            new google.maps.Marker({
                position: mbr,
                map,
                title: "YOU",
                icon: "https://crd-rubbish.epd.ntpc.gov.tw/maps/images/icon/Icon_LegendD.png",
            });

            let marker = new google.maps.Marker({
                position: coor,
                map,
                animation: google.maps.Animation.DROP,
                title: add,
                label: { text: spotId + "", color: "transparent" },
                zIndex: 999999999,
                icon: "https://crd-rubbish.epd.ntpc.gov.tw/maps/images/icon/Icon_LegendC.png",
            });

            marker.addListener("click", () => {
                console.log(marker.title);
                console.log(marker.label.text);
                document.getElementById(marker.label.text).scrollIntoView({ behavior: "smooth", block: "center" });
                $(`#${marker.label.text}`).css("background-color", "gray").css("transition-duration", "2s");
                setTimeout(() => { $(`#${marker.label.text}`).css("background-color", "transparent").css("transition-duration", "2s"); }, 2000);
            });
        }
        else {
            var mbr = new google.maps.LatLng(latNow, lngNow);

            map = new google.maps.Map(document.getElementById("map"), {
                center: mbr,
                zoom: 16,
            });

            new google.maps.Marker({
                position: mbr,
                map,
                title: "YOU",
                icon: "https://crd-rubbish.epd.ntpc.gov.tw/maps/images/icon/Icon_LegendD.png",
            });

            var markers = [];
            //console.log(typeof lat);
            for (let i = 0; i < lat.length; i++) {
                let marker = new google.maps.Marker({
                    position: { lat: lat[i]["Latitude"], lng: lat[i]["Longitude"] },
                    map,
                    animation: google.maps.Animation.DROP,
                    title: lat[i]["Address"],
                    label: { text: lat[i]["GarbageTruckSpotId"] + "", color: "transparent" },
                    zIndex: 999999999,
                    icon: "https://crd-rubbish.epd.ntpc.gov.tw/maps/images/icon/Icon_LegendC.png",
                });
                markers.push(marker);
                markers[i].addListener("click", () => {
                    console.log(markers[i].title);
                    console.log(markers[i].label.text);
                    document.getElementById(markers[i].label.text).scrollIntoView({ behavior: "smooth", block: "center" });
                    $(`#${markers[i].label.text}`).css("background-color", "gray").css("transition-duration", "2s");
                    setTimeout(() => { $(`#${markers[i].label.text}`).css("background-color", "transparent").css("transition-duration", "2s"); }, 2000);
                });
            }
        }
    }
</script>

@*/head*@

@*body*@
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<div style="height:100%;width:50%;float:left;">


    <button id="find-me" onclick="geoFindMe()">查詢目前位置</button>
    <a id="status"></a>
    <br />
    <a id="map-link" href="" target="_blank"></a>  @*target=_blank will open a new tab*@

    <br />
    <label id="labelAddress">搜尋新地址：</label>
    <select id="selectCity" onchange="getDistrict('#selectDistric')" asp-items="ViewBag.CityId">
        <option hidden id="optionCity">請選擇</option>
    </select>
    <select id="selectDistric">
        <option hidden id="optionCity">請選擇</option>
    </select>
    <input id="txtAddress" />

    <button onclick="captureSelect()">搜尋</button>
    <br />
    <select id="rangeLevel" onchange="">
        <option hidden>請選擇</option>
        <option>300</option>
        <option>30000</option>
        <option>200</option>
        <option>100</option>
    </select>
    <label>公尺內</label>
    <select id="selectTimeStart" onchange="">
        <option hidden>請選擇</option>
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
        <option>17</option>
        <option>18</option>
        <option>19</option>
        <option>20</option>
        <option>21</option>
        <option>22</option>
        <option>23</option>
    </select>
    <label>時起</label>
    <select id="selectTimeEnd" onchange="">
        <option hidden>請選擇</option>
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
        <option>17</option>
        <option>18</option>
        <option>19</option>
        <option>20</option>
        <option>21</option>
        <option>22</option>
        <option>23</option>
    </select>
    <label>時迄</label>
    <button onclick="filter()">篩選</button>
    <br />
    <button onclick="(() => {
    if (currentUser == 0) {
        console.log(this);
        console.log(event);
        alert('請先登入！');
    } else {
        initFav();
        console.log('initFav');
        document.getElementById('lblSource').innerText = '您的收藏清單';
    }
    })()">
        收藏清單（會員專屬）
    </button>
    <br />
    <label>以下結果來自：</label>
    <label id="lblSource"></label>
    <table class="table" id="table100m" style="float:left;">
        <tbody id="header">
            <tr>
                <th id="thFav0">加入收藏</th>
                <th>收集地點</th>
                <th onclick="orderByTime()" id="thOrderTime">到達時間☰</th>
                <th onclick="orderByDistance()" id="thOrderDistance">距離（公尺）☰</th>
                @*<th style="display:none">lat</th>
                    <th style="display:none">lng</th>*@
            </tr>
        </tbody>
        <tbody id="content"></tbody>
    </table>
</div>

@*<button onclick="init100M()">100M</button>*@
<div id="map" style="height:100%;width:50%;float:left;border-radius:30px"></div>
@*<button onclick="clearContent()">100M</button>*@
<br />

@*<button onclick="initMap(@ViewBag.resultLat, @ViewBag.resultLng)">1</button>
    <button onclick="initMap(@ViewBag.result[1].Latitude, @ViewBag.result[1].Longitude)">2</button>
    <button onclick="initMap(@ViewBag.result[2].Latitude, @ViewBag.result[2].Longitude)">3</button>*@

<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBircB99P_RvzxWdQT-hk40-h3Ofzlb_vQ&callback=initMap&libraries=&v=weekly"
        async></script>
@*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@

<script>
        let table100m = document.getElementById("table100m");
        let tbodycont = document.getElementById("content");

        var currentUser = @ViewData["currentUserId"];
        var latNow = 0;
        var lngNow = 0;
        var js;
        var js0;  //store material from backend
        var userFav;
        var userFav0;

        window.onload = (() => {
            if (currentUser == 0) {
                geoFindMe();
                console.log('geoFindMe()');
            } else {
                getSpotNum(currentUser);
                init300M('', 'mem');
                console.log('init300M(, mem)');
                document.getElementById('lblSource').innerText = '您的註冊地址';
            }
        })();
        
        var timeOrder = -1;
        var distanceOrder = -1;

    function getSpotNum(currentUser) {
        $.ajax({
            url: "/map/spotCollectedNum?mem=" + currentUser,
            type: "GET",
            success: function (spotJsonString) {
                console.log(this.url);
                userFav0 = JSON.parse(spotJsonString);
                userFav = userFav0;
                console.log(userFav);
            }
        })
    }

        function init300M(address, source) {
            $.ajax({
                url: "/map/spotlessthan300m2?address=" + address + "&lat=" + latNow + "&lng=" + lngNow + "&memId=" + currentUser + "&type=" + source,
                type: "GET",
                success: function (listJsonString) {
                    console.log(this.url);
                    js0 = JSON.parse(listJsonString);
                    //js = js.sort(function (a, b) {
                    //    return a.ArrivalTime < b.ArrivalTime ? -1 : 1;
                    //});
                    js = js0;
                    let tbodycont = document.getElementById("content");
                    tbodycont.innerHTML = "";
                    latNow = js[0]["addLat"];
                    lngNow = js[0]["addLng"];
                    initMap(js, "l");
                    //console.log(js[0]["addLat"]);
                    //console.log(js[0]["addLng"]);
                    if (currentUser == 0) {
                        $('#thFav0').remove();
                        for (let i = 0; i < js.length; i++) {
                            tbodycont.innerHTML +=
                                '<tr id="' + js[i]["GarbageTruckSpotId"] + '" onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + '),topFunction()">'
                                //+ '<th>+++</th>'
                                + '<td>' + js[i]["Address"] + '</td>'
                                + '<td>' + js[i]["ArrivalTime"] + '</td>'
                                + '<td>' + js[i]["distance"] + '</td>'
                                + '</tr>';
                        }
                    }
                    else {

                        for (let i = 0; i < js.length; i++) {
                            tbodycont.innerHTML +=
                                '<tr id="' + js[i]["GarbageTruckSpotId"] + '">'
                                + '<td id="tdFav' + js[i]["GarbageTruckSpotId"] + '"><label onclick="addFav()">♥️</label></td>'
                                + '<td onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + '),topFunction()">' + js[i]["Address"] + '</td>'
                                + '<td onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + '),topFunction()">' + js[i]["ArrivalTime"] + '</td>'
                                + '<td onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + '),topFunction()">' + js[i]["distance"] + '</td>'
                                + '</tr>';
                        }
                    }

                    if (document.getElementById('tdFav276')) {
                        console.log(document.getElementById('tdFav276').innerHTML);
                        document.getElementById('tdFav276').innerHTML = '';
                        if (userFav.length) {
                            console.log(userFav[1]);
                        }
                    }
                    
                            //'<tr id="' + js[i]["GarbageTruckSpotId"] + '">'
                            //+ '<td id="thFav' + js[i]["GarbageTruckSpotId"] + '"><label onclick="addFav()">♥️</label></td>'
                            //+ '<td onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + '),topFunction()">' + js[i]["Address"] + '</td>'
                            //+ '<td onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + '),topFunction()">' + js[i]["ArrivalTime"] + '</td>'
                            //+ '<td onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + '),topFunction()">' + js[i]["distance"] + '</td>'
                            //+ '</tr>';

                            //'<tr id="' + js[i]["GarbageTruckSpotId"] + '" onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + '),topFunction()">'
                            //+ '<th>+++</th>'
                            //+ '<th>' + js[i]["Address"] + '</th>'
                            //+ '<th>' + js[i]["ArrivalTime"] + '</th>'
                            //+ '<th>' + js[i]["distance"] + '</th>'
                            //+ '</tr>';
                }

                    //if (currentUser == 0) {
                    //    $('th[id^="thFav"]').remove();
                    //    $('td[id^="thFav"]').remove();
                    //} else {
                    //    console.log('currenUser!=0');
                    //}

            })

            document.getElementById("thOrderTime").innerText = "到達時間☰";
            document.getElementById("thOrderDistance").innerText = "距離（公尺）☰";

        }

        function initFav() {
            $.ajax({
                url: "/map/spotCollected?mem=" + currentUser,
                type: "GET",
                success: function (listJsonString) {
                    console.log(this.url);
                    js0 = JSON.parse(listJsonString);
                    //js = js.sort(function (a, b) {
                    //    return a.ArrivalTime < b.ArrivalTime ? -1 : 1;
                    //});
                    js = js0;
                    let tbodycont = document.getElementById("content");
                    tbodycont.innerHTML = "";
                    latNow = js[0]["addLat"];
                    lngNow = js[0]["addLng"];
                    initMap(js, "l");
                    //console.log(js[0]["addLat"]);
                    //console.log(js[0]["addLng"]);
                    for (let i = 0; i < js.length; i++) {
                        tbodycont.innerHTML +=
                            '<tr id="' + js[i]["GarbageTruckSpotId"] + '">'
                            + '<th id="thFav' + js[i]["GarbageTruckSpotId"] + '">---</th>'
                            + '<th onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + '),topFunction()">' + js[i]["Address"] + '</th>'
                            + '<th onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + '),topFunction()">' + js[i]["ArrivalTime"] + '</th>'
                            + '<th onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + '),topFunction()">' + js[i]["distance"] + '</th>'
                            + '</tr>';
                            //'<tr id="' + js[i]["GarbageTruckSpotId"] + '" onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + '),topFunction()">'
                            //+ '<th>+++</th>'
                            //+ '<th>' + js[i]["Address"] + '</th>'
                            //+ '<th>' + js[i]["ArrivalTime"] + '</th>'
                            //+ '<th>' + js[i]["distance"] + '</th>'
                            //+ '</tr>';
                    }
                }
            })
            document.getElementById("thOrderTime").innerText = "到達時間☰";
            document.getElementById("thOrderDistance").innerText = "距離（公尺）☰";
        }

        function clearContent() {
            document.getElementById("content").remove();
            console.log(js);
            //todo: test if global-var content still available after refresh/F5
        }

        function orderByTime() {
            document.getElementById("content").remove();
            var ele = document.createElement("tbody");
            ele.id = "content";
            js = js.sort(function (a, b) {
                return a.ArrivalTime < b.ArrivalTime ? timeOrder : -1 * timeOrder;
            });
            for (let i = 0; i < js.length; i++) {
                ele.innerHTML +=
                    '<tr id="' + js[i]["GarbageTruckSpotId"] + '">'
                    + '<th>+++</th>'
                    + '<th onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + '),topFunction()">' + js[i]["Address"] + '</th>'
                    + '<th onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + '),topFunction()">' + js[i]["ArrivalTime"] + '</th>'
                    + '<th onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + '),topFunction()">' + js[i]["distance"] + '</th>'
                    + '</tr>';

                    //'<tr id="' + js[i]["GarbageTruckSpotId"] + '" onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + '),topFunction()">'
                    //+ '<th>+++</th>'
                    //+ '<th>' + js[i]["Address"] + '</th>'
                    //+ '<th>' + js[i]["ArrivalTime"] + '</th>'
                    //+ '<th>' + js[i]["distance"] + '</th>'
                    //+ '</tr>';
            }

            table100m.appendChild(ele);

            if (timeOrder == -1) {
                document.getElementById("thOrderTime").innerText = "到達時間▲";
            }
            else {
                document.getElementById("thOrderTime").innerText = "到達時間▼";
            }

            document.getElementById("thOrderDistance").innerText = "距離（公尺）☰";
            timeOrder = timeOrder * -1;
        }

        function orderByDistance() {
            document.getElementById("content").remove();
            var ele = document.createElement("tbody");
            ele.id = "content";
            js = js.sort(function (a, b) {
                return a.distance < b.distance ? distanceOrder : -1 * distanceOrder;
            });
            for (let i = 0; i < js.length; i++) {
                ele.innerHTML +=
                    '<tr id="' + js[i]["GarbageTruckSpotId"] + '">'
                    + '<th>+++</th>'
                    + '<th onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + '),topFunction()">' + js[i]["Address"] + '</th>'
                    + '<th onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + '),topFunction()">' + js[i]["ArrivalTime"] + '</th>'
                    + '<th onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + '),topFunction()">' + js[i]["distance"] + '</th>'
                    + '</tr>';

                    //'<tr id="' + js[i]["GarbageTruckSpotId"] + '" onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + '),topFunction()">'
                    //+ '<th>+++</th>'
                    //+ '<th>' + js[i]["Address"] + '</th>'
                    //+ '<th>' + js[i]["ArrivalTime"] + '</th>'
                    //+ '<th>' + js[i]["distance"] + '</th>'
                    //+ '</tr>';
            }

            table100m.appendChild(ele);

            if (distanceOrder == -1) {
                document.getElementById("thOrderDistance").innerText = "距離（公尺）▲";
            }
            else {
                document.getElementById("thOrderDistance").innerText = "距離（公尺）▼";
            }

            document.getElementById("thOrderTime").innerText = "到達時間☰";
            distanceOrder = distanceOrder * -1;
        }

        function captureSelect() {
            console.log($('#selectCity :selected').text());
            console.log($('#selectDistric :selected').text());
            console.log($('#txtAddress').val());

            console.log(typeof $('#selectCity :selected').text());
            console.log(typeof $('#selectDistric :selected').text());
            console.log(typeof $('#txtAddress').val());

            init300M($('#selectCity :selected').text() + $('#selectDistric :selected').text() + $('#txtAddress').val(), 'add');
            document.getElementById('lblSource').innerText = '您輸入的新地址';
        }

        function filter() {
            var timeStart = $('#selectTimeStart :selected').text();
            var timeEnd = $('#selectTimeEnd :selected').text();
            var distance = $('#rangeLevel :selected').text();

            /*js0 = js;*/
            js = js0.filter(spot => spot.distance <= (distance)).filter(spot => spot.ArrivalTime >= timeStart).filter(spot => spot.ArrivalTime <= timeEnd);
            document.getElementById("content").remove();
            var ele = document.createElement("tbody");
            ele.id = "content";
            initMap(js, "l");
            console.log('filterinit');
            for (let i = 0; i < js.length; i++) {
                ele.innerHTML +=
                    '<tr id="' + js[i]["GarbageTruckSpotId"] + '">'
                    + '<th>+++</th>'
                    + '<th onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + '),topFunction()">' + js[i]["Address"] + '</th>'
                    + '<th onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + '),topFunction()">' + js[i]["ArrivalTime"] + '</th>'
                    + '<th onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + '),topFunction()">' + js[i]["distance"] + '</th>'
                    + '</tr>';

            //        '<tr id="' + js[i]["GarbageTruckSpotId"] + '" onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ',' + '\'' + js[i]["Address"] + '\'' + ',' + js[i]["GarbageTruckSpotId"] + '),topFunction()">'
            //        //'<tr onclick="initMap(' + js[i]["Latitude"] + ',' + js[i]["Longitude"] + ')">'
            //        + '<th>+++</th>'
            //        + '<th>' + js[i]["Address"] + '</th>'
            //        + '<th>' + js[i]["ArrivalTime"] + '</th>'
            //        + '<th>' + js[i]["distance"] + '</th>'
            //        + '</tr>';
            }

            table100m.appendChild(ele);
            document.getElementById("thOrderTime").innerText = "到達時間☰";
            document.getElementById("thOrderDistance").innerText = "距離（公尺）☰";



            console.log(timeStart);
            console.log(timeEnd);
            console.log(typeof timeEnd);
            console.log(distance);
            console.log(typeof distance);
            console.log(js);
            console.log(js0);
            console.log(js[0]["ArrivalTime"]);
            console.log(typeof js[0]["ArrivalTime"]);
        }

        function consoleLog(event) {
            console.log(event);
            console.log("click");
        }

        function geoFindMe() {

            const status = document.querySelector('#status');
            const mapLink = document.querySelector('#map-link');

            mapLink.href = '';
            mapLink.textContent = '';

            function success(position) {
                const latitude = position.coords.latitude;
                const longitude = position.coords.longitude;

                latNow = latitude;
                lngNow = longitude;

                status.textContent = '定位完成';
                mapLink.href = `https://www.openstreetmap.org/#map=18/${latitude}/${longitude}`;
                mapLink.textContent = `緯度: ${latitude.toFixed(7)}°, 經度: ${longitude.toFixed(7)}°`;

                init300M('', 'nav');
                document.getElementById('lblSource').innerText = '您目前的GPS定位';
            }

            function error() {
                status.textContent = '無法取得位置';
            }

            if (!navigator.geolocation) {
                status.textContent = '您的瀏覽器不支援定位功能';
            } else {
                status.textContent = '定位中...';
                navigator.geolocation.getCurrentPosition(success, error);
            }

        }

                            //document.querySelector('#find-me').addEventListener('click', geoFindMe);
        //Get the button:
        mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }

        function removeFav() {
            console.log('removed');
        }

        function addFav() {
            console.log('added');
            console.log(event.target.parentNode.parentNode.id);
        }
</script>

@*/body*@

@*<!DOCTYPE html>
    <html>
    <head>
    </head>
    <body onload="">
    </body>
    </html>*@