@model IEnumerable<LeSheTuanGo.Models.GarbageServiceUseRecord>


@{
    ViewData["Title"] = "歷史訂單";
}
<p>
    <a asp-action="Index">返回</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                地址
            </th>
            <th>
                3公升
            </th>
            <th>
                5公升
            </th>
            <th>
                14公升
            </th>
            <th>
                25公升
            </th>
            <th>
                33公升
            </th>
            <th>
                75公升
            </th>
            <th>
                120公升
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ComeAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.L3count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.L5count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.L14count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.L25count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.L33count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.L75count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.L120count)
                </td>



                <td>
                    @Html.ActionLink("修改", "Edit", new { id = item.GarbageServiceOfferId })
                </td>

                <td>
                    @Html.ActionLink("刪除", "Delete", new { id = item.GarbageServiceOfferId, id2 = item.GarbageServiceOffer.GarbageServiceId }, new { onclick = "return confirm('確定刪除?')" })
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
