@model IEnumerable<LeSheTuanGo.Models.GarbageServiceOffer>

    @{
        ViewData["Title"] = "Index";
    }

    <h1>服務清單</h1>

    <p>
        <a asp-action="HistoryList">歷史訂單</a>
    </p>
    距離:
    <input type="text" />
    <input type="button" value="確定">

    <table class="table">
        <thead>

            <tr>
                <th width="200">
                    地址
                </th>

                <th>
                    結束時間
                </th>
                <th>
                    3公升上限
                </th>
                <th>
                    5公升上限
                </th>
                <th>
                    14公升上限
                </th>
                <th>
                    25公升上限
                </th>
                <th>
                    33公升上限
                </th>
                <th>
                    75公升上限
                </th>
                <th>
                    120公升上限
                </th>
                <th>
                    地址
                </th>
                <th width="60"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.L3maxCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.L5maxCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.L14maxCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.L25maxCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.L33maxCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.L75maxCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.L120maxCount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.District.DistrictName)
                    </td>
                    <td>
                        @Html.ActionLink("加入", "JoinGroup", new { id = item.GarbageServiceId })
                    </td>
                </tr>
            }
        </tbody>
    </table>
