@model IEnumerable<LeSheTuanGo.ViewModels.GarbageServiceOffersViewModel>

@{
    ViewData["Title"] = "總覽";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">新增</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.HostMemberId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CanGo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.L3maxCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.L5maxCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.L14maxCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.L25maxCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.L33maxCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.L75maxCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.L120maxCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistrictName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RangeInMeters)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ServiceName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.HostMemberId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CanGo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.L3maxCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.L5maxCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.L14maxCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.L25maxCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.L33maxCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.L75maxCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.L120maxCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistrictName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RangeInMeters)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.HostMember.Address)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GarbageServiceId">編輯</a> |
                @*<a asp-action="Details" asp-route-id="@item.GarbageServiceId">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.GarbageServiceId" onclick="return confirm('確定刪除?')">刪除</a>
            </td>
        </tr>

        }
    </tbody>
</table>
<div id="demo"></div>
<!--<button onclick='ja()'>A</button>-->
<script>
    function ja() {
        $.ajax({
            url: "/GarbageServiceOffers/j",
            type: "GET",
            success: function (data) {
                var s = JSON.parse(data);
                console.log(s);
                var txt = "";
                for (let i = 0; i < s.length; i++) {
                    txt += s[i].Address+"_";
                }
                $("#demo").html(txt);
            },
        })
    }
</script>
